################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/
/Source/FolderTree/bin
/Source/FolderTree/obj
/.vs/FT/v15
/.vs
/Source/.vs/FolderTree/DesignTimeBuild
