################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Source/FolderTree/obj
/.vs
/Source/.vs/FolderTree/v15/Server/sqlite3
