################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/.vs/
/Source/FolderTree/bin
/Source/FolderTree/obj
/.vs/FT/v15
/.vs
/Source/.vs/FolderTree/DesignTimeBuild
/Source/packages/NUnit.3.11.0
/Source/FolderTree.Tests/obj/Debug
/Source/FolderTree.Tests/bin/Debug
